@import "colors.css";
@import "spacing.css";
@import "shadows.css";

* {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body, button {
	font-family: "Atkinson Hyperlegible Next Variable", sans-serif;
	color: var(--color-purple-900);
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	line-height: 1;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
